html {  /*untuk setting background dan font keseluruhan page*/
    background: url('../../background.jpg') no-repeat center center fixed; /*setting background, src diperhatikan! diganti sesuai kebutuhan*/
    -webkit-background-size: cover; /*setting background*/
    -moz-background-size: cover;    /*setting background*/
    -o-background-size: cover;     /*setting background*/
    background-size: cover;        /*setting background*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
    width: 100%;
}

body{/*supaya mentok selayar*/
	background-color: rgba(0,0,51,0.23);
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
}

.blue{ /*utk font-font yg warnanya biru*/
    color: #000066;
}

.font15{ /*utk font yang ukurannya 15px*/
    font-size: 15px;
}

#logo{/*ukuran dan posisi logo tepoz*/
    height:90px;
    margin-top: 13%;
}

input{
	border: none;
	background-color: transparent;
}

button{
	font-weight: bold;
	font-size: 13px;
	padding: 8px 35px 8px 35px;
	border: none;
	border-radius: 3px;
}

/*---------------------------media query---------------------------*/
@media screen and (max-width: 680px){ /*view port kecil, utk HP*/
	body{
		text-align: center;
	}
	#logo{
		margin-top: 20%;
	}

}