/*atasnya tabel*/
div#atasTabel{
    width: 95%;
    height: 100px;
    margin-bottom: 3%;
    margin-left: 3%;
}
div#atasTabel div#kiri{
    float: left;
    width: 55%;
}
div#atasTabel div#kanan{
    float: right;
    width: 30%;
}
#simbolOrang{   /*simbol gambar orang*/
    float: left;
    font-size: 110px;
    margin-right: 20px;
}
#divSimbolTransaksi{
    float: left;
    font-size: 40px;
    margin-right: 15px;
}
#simbolTransaksi{
    margin-top: 20px;
}
#idTransaksiPengembalian{
    float: left;
}
div#atasTabel input[type=text]{  /*semua inputan text*/
    height: 20px;
    width: 200px;
}
/*atasnya tabel*/
div#bungkus{
    margin: auto;
    width: 100%;
    height: 100%;
}

/*tabel*/
div#tabelDaftar{  /*div bungkus tabel*/
    margin: auto;
    width: 100%;
}
table{
    width: 100%;
    table-layout: fixed;
}
table,tr,td,th{
    font-size: 15px;
    text-align: center;
    border-collapse: collapse;
    margin: auto;
    
}
td,th{
    padding: 3px;
    border: 1px solid black;
}
td{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
th{
    background-color: grey;
    color: white;
}
.tandaTable{
    background-color: transparent !important;
    border: transparent !important;
}
.tandaTable{width: 2%;}
.idBuku{width: 15%}         /*kolom id buku*/
.judulBuku{width: 20%}      /*kolom judul buku*/
.tanggalPinjam{width: 14%}      /*kolom tanggal pinjam*/
.tanggalPengembalian{width: 14%}       /*kolom tanggal pengembalian*/
.telat{width: 5%}      /*kolom telat brp hari*/
.denda{width: 10%}      /*kolom denda*/
/*tabel*/
/*tombol print*/

div#divTombol{
    height: 7.5%;
}

input#print{
    font-size: 15px !important;
    margin-top: 10px;
    float: right;
}
/*tombol print*/




/*---------------------------media query---------------------------*/
@media screen and (max-width: 680px){ /*view port kecil, utk HP*/
    /*atasnya tabel*/
    div#atasTabel{
        width: 100%;
        margin: auto;
        margin-left: 0px;
        text-align: center;
        height: 320px;
    }
    div#atasTabel div#kiri{
        float: none;
        width: 100%;
    }
    div#atasTabel div#kanan{
        float: none;
        width: 100%;
    }
    div#divSimbolTransaksi{  /*div pembungkus simbol buku*/
        clear: both;
        float: none;
        width: 100%;
        text-align: center;
    }
    #simbolTransaksi{    /*div pembungkus input id buku*/
        text-align: center;
        font-size: 50px;
        margin: 30px 0px 10px 0px;
    }
    #simbolOrang{   /*simbol gambar orang*/
        float: none;
        clear: both;
        font-size: 50px;
        text-align: center;
        margin: 10px 0px;
    }
    div#atasTabel input[type=text]{  /*semua inputan text*/
        height: 20px;
        width: 200px;
    }
    div#divIdTransaksi{
        width: 100%;
        float: none;
        margin: auto;
        text-align: center;
    }
    div#divIdTransaksi #idTransaksiPengembalian{
        float: none;
        width: 200px;
    }
    /*atasnya tabel*
    /*tabel*/
    div#tabelDaftar{  /*div bungkus tabel*/
        clear: both;
        margin-top: 20px;
        width: auto;
        overflow-x: scroll; /*scroll ke samping*/
    }
    table{
        width: 190%;
        margin: 0px 5px;
    }
    table,tr,td,th{
        font-size: 12px;
    }
    /*tabel*/
    /*tombol print*/
    div#divTombol{
        width: 100%;
        text-align: center;
    }
    input#print{
        float: none;
        margin-right: 0px;
    }
    /*tombol print*/
}