.disable{
    background-color: grey !important;
    color: white !important;
}
/*------------------------bagian artikel---------------------*/
article{ /*article adlah semua yang ada dibawah header*/
    height: 80%;
    width: 100%;
}
/*------------------------bagian artikel---------------------*/

/*------------------------bagian konten---------------------*/
article div#konten{ /*konten (sebelahnya aside)*/
    float: left;
    width: 80%;
    height: 100%;
    overflow-y: scroll;
}
article div#konten h1{  /*judul*/
    text-align: center; /*taruh tengah*/
    font-size: 35px;
    text-transform:uppercase;   /*supaya capslock*/
}
article div#konten div#dataKaryawan div.kiri{
    float: left;
}
article div#konten div#dataKaryawan div.kanan{
    float: right;
    margin-right: 50px;
}
article #dataKaryawan .detailKaryawan .peraturan{ /*format foto*/
    font-size: 13px;
}
article #dataKaryawan .detailKaryawan .photo{ /*utk fotonya*/
    height: 300px;
    width: inherit; /*selebar kotak putih*/
}
article div#konten div#inputan{
    margin-left: 50px;
}
article div#konten input{
    width: 200px;
}
article div#konten input#idKaryawanDis{
    margin-left: 130px;
}
article div#konten input#namaKaryawan{
    margin-left: 105px;
}
article div#konten #selectJabatan{ /*"sort by" (dropbox-nya)*/
    margin-left: 88px;  /*supaya letak dropbox agak ke kanan dibanding labelnya*/
    width: 220px;   /*lebar dropbox*/
}
article div#konten input#email{
    margin-left: 106px;
}
article div#konten input#telepon{
    margin-left: 86px;
}
article div#konten div#divAl{
    float: left;
}
article div#konten textarea#alamat{
    width: 300px;
    height: 100px;
    margin-left: 100px;
}
article div#konten input#pass1{
    margin-left: 83px;
}
article div#konten input#pass2{
    margin-left: 20px;
}
/*tombol utk save -------*/
article div#konten input#tombolSave{
    width: 100px;
    float: right;
    margin-top: 35%;
}
/*------------------------bagian konten---------------------*/

/*----------tombol utk up ke atas----------*/
a#tombolUp{ /*peletakkannya dikanan bawah dan fixed*/
    position: fixed; /*tetap ada di bawah walau discroll*/
    bottom: 2px;     /*jarak dengan bottom window*/
    right: 2px;      /*jarak dg kanan window*/
    padding: 5px;
    font-size: 30px; /*besar tombol*/
    opacity: 0.3; /*transparancy*/
    display: none; /*tidak ditampilkan (ditampilkan saat scrolldown dan di media query utk HP, setting di file .js)*/
}
a#tombolUp:hover{ /*kalau dihover warnanya lebih jelas*/
    opacity: 0.6;
}
/*----------tombol utk up ke atas----------*/


/*---------------------------media query---------------------------*/
@media screen and (max-width: 680px){ /*view port kecil, utk HP*/
    /*-----------------utk konten-----------------*/
    article div#konten{
        float: none; /*hilangkan float agar pindah kebawah*/
        width: 100%;
        overflow-y: unset;
    }
    article div#konten div#dataKaryawan{
        float: none;
        text-align: center;
        margin-right: auto;
    }
    article div#konten div#inputan{
        margin-left: 10px;
    }
    article div#konten input#idKaryawanDis{
        margin-left: 120px;
    }
    article div#konten input#namaKaryawan{
        margin-left: 96px;
    }
    article div#konten #selectJabatan{
        margin-left: 80px;
    }
    article div#konten input#email{
        margin-left: 97px;
    }
    article div#konten input#telepon{
        margin-left: 78px;
    }
    article div#konten div#divAl{
        float: left;
    }
    article div#konten textarea#alamat{
        width: 200px;
        height: 300px;
        margin-left: 90px;
    }
    article div#konten input#pass1{
        margin-left: 71px;
    }
    article div#konten input#pass2{
        margin-left: 10px;
    }
    article div#konten input#tombolSave{
        float: none;
        margin: auto;
    }
    article div#konten div#dataKaryawan div.kanan{
        clear: both;
        float: none;
        margin-right: 0px;
    }
    /*-----------------utk konten-----------------*/
}