/*pop up message*/
div#blur{       /*utk blur semuanya*/
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color:rgba(50,50,50,0.7);
    display: none;
}
div#popup{  /*kotak popup*/
    position: fixed;
    top: 5%;
    left: 15%;
    height: 90%;
    width: 70%;
    background-color: rgba(255, 255, 255, 1);
    color: black;
    overflow: hidden;
    display: none;
}
div#popup .simbolX{ /*simbol x untuk close popup*/
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    color: black;
    font-size: 30px;
}
div#popup div#popupScroll{  /*div utk yg bisa discroll*/
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    padding-right: 17px;        /*keperluan supaya scrollbarnya hilang, tp ttep bisa scroll*/
    box-sizing: content-box;    /*keperluan supaya scrollbarnya hilang*/
    margin-left: 10px;
}
div#popup p#popupJudul{ /*judul*/
    font-size: 30px;
    text-align: center;
}
div#popup div#divImg{
    float: left;
    margin-left: 75px;
    margin-right: 20px;
}
div#popup img{
    width: 200px;
}
div#popup div#istimewa{     /*popular & special edition*/
    font-size: 20px;
    font-family: cursive;
}
div#popup div#penting{  /*status, harga, lama sewa*/
    font-size: 20px;
    padding: 5px;
    padding-left: 25px;
    width: 230px;
    background-color: rgba(50,50,50,0.9);
    color: white;
    font-weight: bold;
    float: right;
    margin-right: 50px;
}
div#popup table{
    clear: both;
    margin-left: 70px;
    width: 55%;
    table-layout: fixed;
}
div#popup table td{
    padding: 10px;
    width: 50%;
    overflow: hidden;   /*jika data melebihi batas tabel, di hidden*/
    text-overflow: ellipsis; /*supaya teks panjang berubah jadi ...*/
    white-space: nowrap; /*supaya tidak di-newline*/
}
div#popup table td,div#popup p{
    font-size: 17px;
}
div#popup div#divSinopsis{
    margin-left: 75px;
    margin-right: 50px;
    text-align: justify;
}
/*----------tombol utk up ke atas----------*/
#tombolDown{ /*peletakkannya dikanan bawah dan fixed*/
    text-align: center;
    position: fixed; /*tetap ada di bawah walau discroll*/
    bottom: 6%;     /*jarak dengan bottom window*/
    right: 49%;      /*jarak dg kanan window*/
    font-size: 30px; /*besar tombol*/
    opacity: 0.2; /*transparancy*/
    display: block; /*tidak ditampilkan (ditampilkan saat scrolldown dan di media query utk HP, setting di file .js)*/
}
#tombolDown p{
    margin: 0px;
}
/*----------tombol utk up ke atas----------*/
/*pop up message*/