html {  /*untuk setting background dan font keseluruhan page*/
    background: url('../background.jpg') no-repeat center center fixed; /*setting background, src diperhatikan! diganti sesuai kebutuhan*/
    -webkit-background-size: cover; /*setting background*/
    -moz-background-size: cover;    /*setting background*/
    -o-background-size: cover;     /*setting background*/
    background-size: cover;        /*setting background*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
}
body{ /*supaya mentok selayar*/
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    position: fixed;
}
.blue{ /*utk font-font yg warnanya biru*/
    color: #000066;
}
.font15{ /*utk font yang ukurannya 15px*/
    font-size: 15px;
}

/*------------------------bagian header---------------------*/
header{ /*bagian atas yang isinya logo, tulisan welcome, logout dan tanggal*/
    background-color:  rgba(0,0,51,0.23);
    height:20%;
    width: 100%;
}
header #logo{  /*penempatan gambar logo tepoz di kiri atas*/
    margin-top: 0%;
    padding-top: 0%;
    height:90px;
    top: 0.2%;
    max-width:40%;
}
header p#welcome{   /*tulisan welcome smpai logout di pojok kanan atas*/
    float: right;   /*penempatan ke pojok kanan */
    margin-right: 1%;
}
header #logOut{  /*utk logout (di pojok kanan atas)*/
    font-weight: bold;
}
header p#tanggal{   /*penampil tanggal di kanan atas*/
    clear: both;    /*utk pindah baris dari tulisan welcome*/
    float: right;   /*letakkan di kanan*/
    font-style: italic;
    margin-right: 1%; /*supaya ada jarak sedikit dengan pojok*/
}


/*------------------------bagian artikel---------------------*/
article{ /*article adlah semua yang ada dibawah header*/
    height: 80%;
    width: 100%;
}

/*------------------------bagian aside---------------------*/
article div#aside{ /*aside*/
    float: left; /*taruh kiri*/
    width: 20%;
    height: 100%;
    background-color: rgba(255,255,255,0.46);
}
article div#aside hr{ /*garis hr dibuat tidak ada jarak dg element lainnya*/
    margin: 0px;
}
article div#aside h3{ /*option di aside, pengaturan jaraknya dg elemen lainnya*/
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 0px;
    margin-bottom: 0px;
}
article div#aside h3:hover{ /*jika di hover, warnanya abu2*/
    background-color: gray;
}
.terpilih{ /*utk option aside yg sedang dipilih (disini diasumsikan #aside1 yg terpilih, penambahan class di .js)*/
    background-color: rgba(51,153,204,0.52); /*aside yg sedang terpilih warna biru*/
}
article div#aside div#minimizeOption{ /*minimize option*/
    display: none; /*tidak ditampilkan di layar versi dekstop*/
}
/*------------------------bagian aside---------------------*/

/*------------------------bagian judul dan searching + sorting ---------------------*/
article div#judul h1{  /*judul "Daftar "*/
    text-align: center; /*taruh tengah*/
    font-size: 35px;
    text-transform:uppercase;   /*supaya capslock*/
}
article div#judul #sorting{ /*"sort by" (label dan dropbox-nya)*/
    float: right;   /*taruh pojok kanan*/
    margin-right: 1%;   /*beri jarak dengan pojok*/
}
article div#judul #sorting #selectSortBy{ /*"sort by" (dropbox-nya)*/
    margin-left: 15px;  /*supaya letak dropbox agak ke kanan dibanding labelnya*/
    width: 100px;   /*lebar dropbox*/
}
article div#judul #searching{ /*"search by" (label, dropbox, input, dan icon-nya)*/
    float: right;   /*letakkan di kanan, sebelahan dg sort by*/
    width: 300px;
    margin-right: 2%; /*jarak dgn sort by*/
}
article div#judul #searching #searchBox{ /*"search by" (input, dan icon-nya)*/
    float: right;   /*lettakkan di kanan parent #searching*/
}
article div#judul #searching #searchBox #inputSearchBy{ /*"search by" (input-nya)*/
    width: 150px;
}
article div#judul #searching #selectSearchBy{ /*"search by" (dropbox-nya)*/
    width: 100px;
    margin-left: 3px;   /*memberi jarak ke kanan dengan label yg diatasnya*/
    margin-right: 10px; /*memberi jarak dengan box inputan*/
}

/*------------------------bagian isi (daftar nya)---------------------*/
article div#daftar{ /*sekotak daftar */
    margin-left: 50px; /*ditaruh tengah*/
    margin-right: 0px;
    height: 400px;
    width: 95.5%;
    overflow-y: scroll;  /*apabila lebih overflow secara vertical, di scroll*/
}
article #daftar .info{ /*kotak masing2  yang isinya info */
    border: 0.1px solid #F2F2F2;
    background-color: #F2F2F2;
    margin: 14px;
    height: 300px;
    width: 170px;
    float: left; /*di taruh kiri, supaya bersebelahan dengan gambar2 lainnya*/
    position: relative;
}

article #daftar .info.favorit{ /*utk 2 yang favorit*/
    border: 4px solid red; /*favorit ditandai dg bordernya yg merah*/
    height: 292px;  /*height jadi lebih sedikit 8px dari pada yang tidak favorit (supaya besar kotak sama)*/
    width: 162px;   /*witdh juga jadi lebih sedikit 8px*/
    padding: 0px;
}
article #daftar .info.specialEdition{ /*utk 2 yang special edition*/
    outline: 4px solid gold; /*special edition ditambahi outline gold*/
}

/*------------------------bagian keluar tombol edit---------------------*/
article #daftar .info .foto{ /*utk fotonya*/
    height: 200px;
    width: inherit; /*selebar kotak putih*/
    opacity: 1;
    display: block;
    transition: .25s ease;
    backface-visibility: hidden;
}

article #daftar .info #edit{ /*tombol edit*/
    transition: .25s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;
    height: 25%;
}

article #daftar .info #view{ /*tombol edit*/
    transition: .25s ease;
    opacity: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;
    height: 25%;
}

article #daftar .info:hover .foto{ /*agar foto opacity berkurang saat di hover*/
    opacity: 0.3;
}

article #daftar .info:hover #edit{ /*agar tombol edit muncul*/
    opacity: 1;
}
article #daftar .info:hover #view{ /*agar tombol edit muncul*/
    opacity: 1;
}


article #daftar .info #edit .text{ /*font pada tombol edit*/
    background-color: rgba(51,153,204,1);
    color: white;
    font-size: 100%;
    padding: 15%;
}
article #daftar .info #view .text{ /*font pada tombol edit*/
    background-color: rgba(51,153,204,1);
    color: white;
    font-size: 100%;
    padding: 15%;
}
article #daftar .info #edit .text:hover{ /*saat tombol di hover warnanya jadi gray*/
    background-color: gray;
}
article #daftar .info #view .text:hover{ /*saat tombol di hover warnanya jadi gray*/
    background-color: gray;
}

/*------------------------bagian keluar tombol edit---------------------*/

article #daftar .info h4{ /*judul nya*/
    margin: 4px;
    text-align: center; /*tengah kotak*/
    overflow: hidden;   /*overflow tidak ditampilkan*/
    text-overflow: ellipsis;    /*kalau text panjang, akhhirnya diberi ...*/
    white-space: nowrap;    /*tidak ada newline*/
}
article #daftar .info p{ /*info nya (stok, tersedia, available)*/
    margin: 1px; /*jarak 1px dg kotaknya*/
}
article #daftar .info p.tersedia{ /*tersedia berapa*/
    float: left; /*supaya bisa sebaris dg tulisan available*/
}
article #daftar .info p.status{ /*available atau tidak*/
    float: right; /*dikanannya tulisan tersedia*/
    color: green; /*available hijau, unavail red*/
}
article #daftar .info .new{ /*tambahan img icon "new" utk 2 baru*/
    clear: both;    /*pindah baris dari tulisan available*/
    float: right;   /*bagian kanan kotak*/
    width: 30px;
}

/*------------------------bagian konten---------------------*/
article div#konten{ /*konten (sebelahnya aside)*/
    float: left;
    width: 80%;
    height: 100%;
}
article div#konten h1{  /*judul*/
    text-align: center; /*taruh tengah*/
    font-size: 35px;
    text-transform:uppercase;   /*supaya capslock*/
}
/*------------------------bagian konten---------------------*/

/*------------------------bagian input---------------------*/
article div#konten div#kiri{ /*yng sbelah kiri, dari id member smp tanggal lahir*/
    float: left;
    margin-top: 35px;
    margin-left: 100px;
}
article div#konten div#kanan{ /*yg kanan, dari email smp alamat*/
    float: left;
    margin-top: 35px;
    margin-left: 250px;
}
article div#konten label{   /*semua label taruh diatas inputan*/
    font-size: 12px;
    margin-left: 5px;
}
article div#konten input, article div#konten select, article div#konten textarea{   /*kotak yang utk input*/
    margin-bottom: 8px;
    font-size: 12px;
    padding: 8px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 3px;
}
article div#konten textarea{
    height: 134px;
    resize: none;
}
article div#konten select{
    width: 270px;
}
article div#konten input[type=text]:focus, article div#konten textarea:focus{ /*warna background berubah ketika focus*/
    background-color: cornflowerblue;
}
article div#konten input#tombol{
    clear: both;
    float: right;
    margin-right: 20px;
    margin-top: 15px;
    padding: 5px;
    width: 100px;
    font-size: 15px;
    border: 1px solid black;
    color: black;
    background-color: darkgray;
    border-radius: 5px;
}
article div#konten input#tombol:hover{
    background-color: gray;
}
/*------------------------bagian input---------------------*/

/*----------tombol utk up ke atas----------*/
a#tombolUp{ /*peletakkannya dikanan bawah dan fixed*/
    position: fixed; /*tetap ada di bawah walau discroll*/
    bottom: 2px;     /*jarak dengan bottom window*/
    right: 2px;      /*jarak dg kanan window*/
    padding: 5px;
    font-size: 30px; /*besar tombol*/
    opacity: 0.3; /*transparancy*/
    display: none; /*tidak ditampilkan (ditampilkan saat scrolldown dan di media query utk HP, setting di file .js)*/
}
a#tombolUp:hover{ /*kalau dihover warnanya lebih jelas*/
    opacity: 0.6;
}
/*----------tombol utk up ke atas----------*/


/*---------------------------media query---------------------------*/
@media screen and (max-width: 680px){ /*view port kecil, utk HP*/
    body{
        position: unset;
    }
    /*-----------------header-----------------*/
    header{ /*header height nya ditambahi, semua element di ketengahi*/
        height: 180px;
        text-align: center;
    }
    header #logo{ /*logo tepoz supaya bisa ikut ketengah*/
        float: none;
    }
    header p#welcome, header p#tanggal{ /*hilangi floatnya, supaya ikut ketengah*/
        float: none;
    }
    /*-----------------header-----------------*/

    /*-----------------utk aside-----------------*/
    article div#aside{
        float: none; /*hilangkan float*/
        width: 100%; /*full widthnya*/
        text-align: center; /*tengah*/
        height: auto; /*menyesuaikan isinya*/
        background-color: rgba(255,255,255,0.46);
    }
    article div#aside div#minimizeOption{ /*tombol utk slidedown option2 pd aside*/
        display: block; /*tampilkan ke layar*/
    }
    article div#aside div#minimizeOption h3{
        background-color: #000066; /*atur warna background*/
    }
    article div#aside div#option{ /*option2 pada aside*/
        display: none; /*sembunyikan*/
    }
    /*-----------------utk aside-----------------*/

    /*--------utk article (bagian judul)---------*/
    article div#judul #sorting, article div#judul #searching{ /*media search dan sort diketengahi*/
        margin: auto;
        text-align: center;
        float: none;    /*hilangi float*/
        width: 100%;
    }
    article div#judul #searching #searchBox{
        float: none;
        margin-top: 15px;
        
    }
    article div#judul #searching #searchBox::before { /*menambahkan new line sebelum id="searchBox"*/
        content: "\A";  /*tambahkan newline, spti <br>*/
    }
    article div#judul #searching #selectSearchBy, article div#judul #sorting #selectSortBy{
        margin: auto;
    }

    /*--------utk article (bagian daftar )---------*/
    article div#daftar{ /*sekotak daftar */
        margin-top: 10px;
        width: 100%;
    }
    article #daftar .info{ /*ukuran kotak putih dikecilin*/
        height: 160px;
        width: 80px;
        margin: 10px 4px;
    }
    article #daftar .info.favorit{ /*ukuran kotak putih yang favorit juga dikecilin*/
        height: 152px;
        width: 77px;
    }
    article #daftar .info .foto{ /*ukuran gambar  dikecilin*/
        height: 100px;
    }
    article #daftar .info p{ /*utk menghemat ruang, info stok & tersedia tidak ditampilkan (dihidden)*/
        position: absolute; /*fungsinya supaya tulisan availble naik kebawah judul */
        visibility: hidden;
    }
    article #daftar .info h4{ /*judul  dikecilkan*/
        font-size: 10px;
    }
    article #daftar .info .status{ /*tulisan available dikecilkan dan diketengahkan manual*/
        margin-right: 17px;
        clear: both;
        font-size: 9px;
        visibility: visible;
    }   
    article #daftar .info .new{ /*icon new dikecilkan dan dinaikkan sedikit*/
        width: 20px;
        margin-top: -5px;
    }

    

    /*-----------------utk konten-----------------*/
    article div#konten{
        float: none; /*hilangkan float agar pindah kebawah*/
        width: 100%;
        overflow-y: inherit;
    }
    article div#konten div#kiri{
        float: none;
        clear: both;
        overflow-y: inherit;
        margin-left: 10%;
    }
    article div#konten div#kanan    {
        float: none;
        clear: both;
        overflow-y: inherit;
        margin-left: 10%;
    }
    /*-----------------utk konten-----------------*/
    article div#konten input#tombol{
        float: none;
        clear: both;
        margin-left: 10%;
    }
    article #daftar .info #edit .text{ /*font pada tombol edit*/
        background-color: rgba(51,153,204,1);
        color: white;
        font-size: 16px;
        padding: 16px 32px;
        width: 55px;
    }
    article #daftar .info #view .text{ /*font pada tombol edit*/
        background-color: rgba(51,153,204,1);
        color: white;
        font-size: 16px;
        padding: 16px 32px;
        width: 55px;
    }
}