/*------------------------bagian konten---------------------*/
article div#konten div#inputan{ /*bagian input2 dibawah judul*/
    margin-left: 50px;
}
article div#konten input{ /*atur lebar kotak inputan*/
    width: 200px;
}
article div#konten input#idJabatan{ /*inputan ID jabatan*/
    margin-left: 30px;
}
article div#konten input#namaJabatan{   /*inputan nama jabatan*/
    margin-left: 5px;
}
article div#konten input#tambahGaji{  /*inputan gaji*/
    margin-left: 76px;
}
article div#konten div#divKet{  /*tulisan "Keterangan"*/
    float: left; /*supaya bisa disebelah textarea*/
}
article div#konten textarea#keterangan{ /*inputan keterangan*/
    margin-left: 30px;
    width: 400px;
    height: 150px;
}
article div#konten div#aturanIdJabatan{
    float: right;
    font-style: italic;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-right: 100px;
}
/*tombol utk save -------*/
article div#konten input#tombolSave{
    width: 100px;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
}
/*------------------------bagian konten---------------------*/


/*---------------------------media query---------------------------*/
@media screen and (max-width: 680px){ /*view port kecil, utk HP*/
    /*-----------------utk konten-----------------*/
    article div#konten{
        float: none; /*hilangkan float agar pindah kebawah*/
        width: 100%;
    }
    article div#konten div#inputan{ /*bagian input2 dibawah judul*/
        margin: 0px;
    }
    article div#konten input, article div#konten textarea#keterangan{ /*semua kotak input dan textarea*/
        width: 150px;
    }
    /*tombol utk save -------*/
    article div#konten input#tombolSave{
        float: none;
        margin-top: 0px;
        margin-left: 110px;
        width: 80px;
    }
    /*-----------------utk konten-----------------*/
}