/*------------------------bagian artikel---------------------*/
article{ /*article adlah semua yang ada dibawah header*/
    height: 80%;
    width: 100%;
}
/*------------------------bagian artikel---------------------*/

/*------------------------bagian konten---------------------*/
article div#konten{ /*konten (sebelahnya aside)*/
    float: left;
    width: 80%;
    height: 100%;
}
article div#konten h1{  /*konten*/
    text-align: center; /*taruh tengah*/
    font-size: 35px;
    text-transform:uppercase;   /*supaya capslock*/
}
/*bagian ngisi2----*/
article div#konten div#kiri{ /*yng sbelah kiri, dari id member smp tanggal lahir*/
    float: left;
    margin-left: 100px;
}
article div#konten div#kanan{ /*yg kanan, dari email smp alamat*/
    float: left;
    margin-top: 105px;
    margin-left: 250px;
}
article div#konten label{   /*semua label taruh diatas inputan*/
    font-size: 12px;
    margin-left: 50px;
}
article div#konten input, article div#konten select, article div#konten textarea{   /*kotak yang utk input*/
    margin-bottom: 8px;
    width: 250px;
}
article div#konten select{
    width: 270px;
}
article div#konten textarea#alamat{
    height: 90px;
}
article div#konten .simbol{ /*simbol2 font awesome utk input*/
    margin-right: 6px;
    font-size: 30px;
}
/*atur masing2 jarak simbol dengan inputan*/
article div#konten .fa-id-card-alt{
    margin-right: 10px;
}
article div#konten .fa-id-card{
    margin-right: 14px;
}
article div#konten .fa-transgender{
    margin-right: 20px;
}
article div#konten .fa-birthday-cake{
    margin-right: 18px;
}
article div#konten .fa-envelope{
    margin-right: 16px;
}
article div#konten .fa-phone{
    margin-right: 16px;
}
article div#konten .fa-home{
    margin-right: 13px;
    float: left;
}
/*bagian ngisi2----*/
/*tombol ok dibawah*/
article div#konten input.tombol{
    clear: both;
    float: right;
    margin-right: 115px;
    margin-top: 15px;
    width: 100px;
    font-size: 15px;
}
/*------------------------bagian konten---------------------*/


/*---------------------------media query---------------------------*/
@media screen and (max-width: 680px){ /*view port kecil, utk HP*/
    /*-- bagian isi2*/
    article div#konten div#kiri, article div#konten div#kanan{
        float: none;
        clear: both;
        margin: auto;
    }
    article div#konten input, article div#konten textarea{
        width: 200px;
    }
    article div#konten select{
        width: 220px;
    }
    /*-- tombol ok di bawah*/
    article div#konten input#tombolOk{
        width: 60px;
        float: none;
        margin: auto;
        margin-top: 20px;
        display: block;
    }
    /*-----------------utk konten-----------------*/
}

