
/*------------------------bagian konten---------------------*/
article div#konten{ /*konten (sebelahnya aside)*/
    float: left;
    width: 80%;
    height: 100%;
}
article div#konten h1{  /*judul*/
    text-align: center; /*taruh tengah*/
    font-size: 35px;
    text-transform:uppercase;   /*supaya capslock*/
}
/*------------------------bagian konten---------------------*/


/*---------------------------media query---------------------------*/
@media screen and (max-width: 680px){ /*view port kecil, utk HP*/
    /*keperluan searching -------*/
    article div#konten #searching{ /*media search diketengahi*/
        margin: auto;
        float: left;;    /*hilangi float*/
        margin: 0px;
    }
    article div#konten #searching #selectSearchBy{  /*dropbox-nya*/
        margin: 5px;
    }
    article div#konten #searching #searchBox{ /*inputan box*/
        float: none; /*pindah baris baru*/
        margin: 5px;
    }
    article div#konten #searching #searchBox #inputSearchBy{ /*box inputan*/
        margin: auto; /*tengah*/
    }
    /*keperluan searching -------*/
    
    /*-----------------utk konten-----------------*/
    /*tabel------*/
    article div#konten div#tabel{ /*div pembungkus tabel*/
        overflow-y: unset;  /*tidak ada scroll lagi*/
        margin-top: 120px;
        width: auto;
        height: auto;
        overflow-x: scroll; /*scroll ke samping*/
    }
    table{
        font-size: 10px; /*tulisan dikecilkan*/
        width: 300%; /*supaya ga banyak text di dalem tabel yg kepotong*/
    }
    /*tabel------*/
    /*-----------------utk konten-----------------*/
}

